/*the background*/
body {
  margin: auto;
  background-color: White;
  color: DimGray;
  text-align: left;
  font-size: 1.5rem;
  line-height: 150%;
}

/*the title*/
h2 {
  color: gray;
  text-align: center;
  margin: 20px auto;
  font-size: 1.75rem;
}

h3 {
  color: silver;
  text-align: center;
  margin: 20px auto;
  font-size: 1.5rem;
}

/*text box*/
#output {
  width: 75%;
  margin: auto;
}

#reload {
  width: 75%;
  margin: 30px auto;
}

#about {
  width: 75%;
  font-size: small;
  margin: auto;
  line-height: 1.2rem;
}

button {
  background-color: dimgray; /* Green */
  border-radius: 10px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

button:active {
  background-color: black;
  color: white;
}
