@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/*the background*/
body {
  margin: auto;
  background-color: White;
  color: DimGray;
  text-align: left;
  font-size: x-large;
font-family: 'Press Start 2P', cursive;}

/*the title*/
h2 {
  color: darkgray;
  text-align: center;
  margin: 20px auto;
}

/*text box*/
#output {
	width: 75%;
	margin: auto;
}

#reload {
	width: 75%;
	margin: 30px auto;
}

#about {
  width: 75%;
  font-size: small;
  margin: auto;
}

button {
  background-color: dimgray; /* Green */
  border-radius: 10px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-family: 'Press Start 2P', cursive;}

  margin: auto;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}


button:active {
  background-color: black;
  color: white;
}
