/*the background*/
body {
  margin: auto;
  background-color: White;
  color: DimGray;
  text-align: left;
  font-size: x-large;
}

/*the title*/
h2 {
  color: dimgray;
  text-align: center;
  margin: 20px;
}

/*text box*/
#content {
	width: 75%;
	margin: auto;
}

#reload {
	width: 50%;
	margin: 30px;
}

#about {
  width: 50%;
  font-size: small;
  margin: auto;
}
